In [1]:
import csv
import time
import sys
import os

import dask.dataframe as dd 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
path_prefix = "/project/jevans/jamshid/mag/"

Bad key text.latex.preview in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

# journal

In [21]:
pjid = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Papers.txt', sep='\t', header=None, usecols=[0,11])

In [19]:
pjid = pjid.rename(columns = {0:"pid", 19:"jid"})

In [20]:
pjid.to_csv('pjid.csv')

In [2]:
journals = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Journals.txt', sep='\t', header=None, usecols=[0,2,3,5,7])
journals.columns = ["jid","norm_name","display_name","publisher","pcount"]

In [10]:
phys_journals = journals[journals.norm_name.str.contains("physics",case=False)]

In [22]:
american = phys_journals[phys_journals.norm_name.str.contains("american")].jid
american

13060    2764445038
15596    2764720108
23967    2765007567
28851      38866342
Name: jid, dtype: int64

In [14]:
phys_journals[phys_journals.norm_name.str.contains("european")]

,jid,norm_name,display_name,publisher,pcount
13399,201767027,european physical journal applied physics,European Physical Journal-applied Physics,NaN,3563
18245,193791498,physics and chemistry of glasses european jour...,Physics and Chemistry of Glasses-european Jour...,NaN,228
18829,188487408,central european journal of physics,Central European Journal of Physics,NaN,1944
21382,200539529,european biophysics journal,European Biophysics Journal,NaN,3128
32881,2764580520,european journal of physics education,European Journal of Physics Education,NaN,168
48695,118704488,european journal of physics,European Journal of Physics,NaN,5091

In [15]:
phys_journals[phys_journals.norm_name.str.contains("japan")]

,jid,norm_name,display_name,publisher,pcount
11290,2764792678,japanese journal of health physics,Japanese Journal of Health Physics,NaN,1775
22047,2764959045,japanese journal of medical physics an officia...,Japanese journal of medical physics : an offic...,NaN,541
30957,2764860693,the japan society of applied physics,The Japan Society of Applied Physics,NaN,72941
35937,2764937166,japanese journal of applied physics jjap,Japanese journal of applied physics : JJAP,NaN,796
40636,143744711,japanese journal of applied physics,Japanese Journal of Applied Physics,NaN,80142

In [17]:
phys_journals[phys_journals.norm_name.str.contains("chin")]

,jid,norm_name,display_name,publisher,pcount
904,2764368349,chinese journal of geophysics,Chinese Journal of Geophysics,NaN,6860
2363,2764515485,science in china series a mathematics physics ...,"Science in China Series A-Mathematics, Physics...",NaN,706
3685,2764620048,chinese journal of high pressure physics,Chinese Journal of High Pressure Physics,NaN,1098
5504,2764821707,chinese journal of low temperature physics,Chinese Journal of Low Temperature Physics,NaN,915
8335,118879562,chinese journal of chemical physics,Chinese Journal of Chemical Physics,NaN,2026
9949,129410440,science china physics mechanics & astronomy,Science China-physics Mechanics & Astronomy,NaN,3836
15327,169735585,chinese journal of physics,Chinese Journal of Physics,NaN,4255
16694,33442941,chinese physics b,Chinese Physics B,NaN,16012
18632,187105095,high energy physics and nuclear physics chines...,High Energy Physics and Nuclear Physics-chines...,NaN,14
19881,2764790351,chinese journal of medical physics,Chinese Journal of Medical Physics,NaN,2008
25134,2764848615,chinese journal of engineering geophysics,Chinese Journal of Engineering Geophysics,NaN,352
26429,959143335,chinese physics c,Chinese Physics C,NaN,4655
34904,2764793441,chinese journal of atomic and molecular physics,Chinese journal of atomic and molecular physics,NaN,1008
35575,73951395,chinese journal of geophysics chinese edition,Chinese Journal of Geophysics-chinese Edition,NaN,38
39660,110033974,chinese physics letters,Chinese Physics Letters,NaN,18114
41814,67755771,chinese astronomy and astrophysics,Chinese Astronomy and Astrophysics,NaN,2400
45671,2764925854,chinese journal of computational physics,Chinese Journal of Computational Physics,NaN,1032
46715,118523878,frontiers of physics in china,Frontiers of Physics in China,NaN,3338
47813,2764903365,chinese journal of computation physics,Chinese Journal of Computation Physics,NaN,608
48324,180042443,chinese journal of astronomy and astrophysics,Chinese Journal of Astronomy and Astrophysics,NaN,811
48341,950076683,chinese physics,Chinese Physics,NaN,3893

## paper citations

In [3]:
paper_citations = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Papers.txt', sep='\t', header=None, usecols=[0,19])
paper_citations = paper_citations.rename(columns = {0:"paperid", 19:"citation_count"})

In [4]:
paper_citations.head()

      paperid  citation_count
0      248996             4.0
1  2906390199             0.0
2      760496             2.0
3     1727602             0.0
4  2401921836             7.0

In [6]:
paper_citations = paper_citations[["paperid","citation_count"]].rename(columns = {"pid":"paperid"}).set_index("paperid")

In [7]:
paper_citations.head()

            citation_count
paperid
248996                 4.0
2906390199             0.0
760496                 2.0
1727602                0.0
2401921836             7.0

In [8]:
paper_citations.to_csv('paper_citations.csv')

## rank

In [2]:
paper_presented = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Papers.txt', sep='\t', header=None, usecols=[0,11,12])

/software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
conference = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/ConferenceSeries.txt', sep='\t', header=None, usecols=[0,1,2])

In [4]:
journal = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Journals.txt', sep='\t', header=None, usecols=[0,1,2])

In [5]:
paper_presented = paper_presented.rename(columns = {0:"paperid",11:"journalid",12:"seriesid"})
conference = conference.rename(columns = {0:"seriesid",1:"seriesrank",2:"seriesname"})
journal = journal.rename(columns = {0:"journalid",1:"journalrank",2:"journalname"})

In [2]:
# paper_presented.to_csv("paper_presented.csv")
# conference.to_csv("conference.csv")
# journal.to_csv("journal.csv")
paper_presented = pd.read_csv("paper_presented.csv")
conference = pd.read_csv("conference.csv")
journal = pd.read_csv("journal.csv")

/software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
conference_dict = conference.set_index('seriesid').to_dict()['seriesrank']
journal_dict = journal.set_index('journalid').to_dict()['journalrank']

In [4]:
paper_presented_rank = paper_presented
paper_presented_rank['seriesrank'] = paper_presented_rank['seriesid'].apply(lambda x: conference_dict[x] if x in conference_dict else x)

In [5]:
paper_presented_rank['journalrank'] = paper_presented_rank['journalid'].apply(lambda x: journal_dict[x] if x in journal_dict else x)

In [6]:
paper_presented_rank.query("seriesrank > 0")

,Unnamed: 0,paperid,journalid,seriesid,seriesrank,journalrank
29,29,9694411,NaN,2.755927e+09,10037.0,NaN
37,37,14558443,NaN,1.131603e+09,11355.0,NaN
39,39,15354235,NaN,1.154039e+09,10766.0,NaN
55,55,21605082,NaN,1.190394e+09,11259.0,NaN
68,68,24327294,NaN,1.196984e+09,11612.0,NaN
...,...,...,...,...,...,...
269814128,269814128,3175551660,NaN,1.136618e+09,12133.0,NaN
269814175,269814175,3190861375,NaN,1.131240e+09,11510.0,NaN
269814184,269814184,3194650788,NaN,2.755031e+09,10788.0,NaN
269814237,269814237,3211011266,NaN,2.755283e+09,9875.0,NaN
269814257,269814257,3217727977,NaN,1.180663e+09,7764.0,NaN

In [7]:
paper_presented_rank.to_csv("/scratch/midway3/graceshaoy2/paper_presented_rank.csv")

In [8]:
paper_presented_rank.head()

   Unnamed: 0     paperid journalid  seriesid  seriesrank journalrank
0           0      248996       NaN       NaN         NaN         NaN
1           1  2906390199       NaN       NaN         NaN         NaN
2           2      760496       NaN       NaN         NaN         NaN
3           3     1727602       NaN       NaN         NaN         NaN
4           4  2401921836       NaN       NaN         NaN         NaN