In [1]:
import csv
import time
import sys
import os

import dask.dataframe as dd 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
path_prefix = "/project/jevans/jamshid/mag/"

Bad key text.latex.preview in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 466 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 477 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file /software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle, line 479 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.6.0/matplotlibrc.template
or from the matplotlib source distribution

## paper citations

In [ ]:
paper_citations = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Papers.txt', sep='\t', header=None, usecols=[0,19])
paper_citations = paper_citations.rename(columns = {0:"paperid", 19:"citation_count"})

In [ ]:
paper_citations.head()

In [ ]:
paper_citations.to_csv('paper_citations.csv')

## rank

In [2]:
paper_presented = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Papers.txt', sep='\t', header=None, usecols=[0,11,12])

/software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
conference = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/ConferenceSeries.txt', sep='\t', header=None, usecols=[0,1,2])

In [4]:
journal = pd.read_csv('/project/jevans/MAG_Dec_2021_snapshot/mag/Journals.txt', sep='\t', header=None, usecols=[0,1,2])

In [5]:
paper_presented = paper_presented.rename(columns = {0:"paperid",11:"journalid",12:"seriesid"})
conference = conference.rename(columns = {0:"seriesid",1:"seriesrank",2:"seriesname"})
journal = journal.rename(columns = {0:"journalid",1:"journalrank",2:"journalname"})

In [2]:
# paper_presented.to_csv("paper_presented.csv")
# conference.to_csv("conference.csv")
# journal.to_csv("journal.csv")
paper_presented = pd.read_csv("paper_presented.csv")
conference = pd.read_csv("conference.csv")
journal = pd.read_csv("journal.csv")

/software/python-anaconda-2020.11-el8-x86_64/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
conference_dict = conference.set_index('seriesid').to_dict()['seriesrank']
journal_dict = journal.set_index('journalid').to_dict()['journalrank']

In [4]:
paper_presented_rank = paper_presented
paper_presented_rank['seriesrank'] = paper_presented_rank['seriesid'].apply(lambda x: conference_dict[x] if x in conference_dict else x)

In [5]:
paper_presented_rank['journalrank'] = paper_presented_rank['journalid'].apply(lambda x: journal_dict[x] if x in journal_dict else x)

In [6]:
paper_presented_rank.query("seriesrank > 0")

,Unnamed: 0,paperid,journalid,seriesid,seriesrank,journalrank
29,29,9694411,NaN,2.755927e+09,10037.0,NaN
37,37,14558443,NaN,1.131603e+09,11355.0,NaN
39,39,15354235,NaN,1.154039e+09,10766.0,NaN
55,55,21605082,NaN,1.190394e+09,11259.0,NaN
68,68,24327294,NaN,1.196984e+09,11612.0,NaN
...,...,...,...,...,...,...
269814128,269814128,3175551660,NaN,1.136618e+09,12133.0,NaN
269814175,269814175,3190861375,NaN,1.131240e+09,11510.0,NaN
269814184,269814184,3194650788,NaN,2.755031e+09,10788.0,NaN
269814237,269814237,3211011266,NaN,2.755283e+09,9875.0,NaN
269814257,269814257,3217727977,NaN,1.180663e+09,7764.0,NaN

In [7]:
paper_presented_rank.to_csv("/scratch/midway3/graceshaoy2/paper_presented_rank.csv")

In [8]:
paper_presented_rank.head()

   Unnamed: 0     paperid journalid  seriesid  seriesrank journalrank
0           0      248996       NaN       NaN         NaN         NaN
1           1  2906390199       NaN       NaN         NaN         NaN
2           2      760496       NaN       NaN         NaN         NaN
3           3     1727602       NaN       NaN         NaN         NaN
4           4  2401921836       NaN       NaN         NaN         NaN